body{
    position: relative;
    justify-content: center;
}
/* h2{
    text-decoration: underline #f6c0b6 5px;
} */
.first{
    background-color: #fde6e2;
    position: relative;
    background-image: url("ellipse90.png");
    /* background-attachment:fixed; */
    background-position: center top;
    background-repeat: no-repeat;
}
.navbar-brand{
    font-size: 2rem;
}
nav{
    position: absolute;
    padding: 2rem;
}
.nav-right{
    display: flex;
    flex-direction: row;
    float: right;
}
.nav-right a{
    color: black
}
.fContent{
    text-align: left;
}
.fContent h1{
    max-width: 90%;
    font-size: 3rem;
    margin-left: 4rem;
}
.fContent p{
    font-size: 1.5rem;
    margin-left: 4rem;
}
.second{
    padding: 3rem 7rem;
}
.recipe{
    margin: 2rem 5rem;
}
.card{
    position: relative;
    margin: 1rem;
    background-color: #fde6e2;
    border-radius: 1rem;
    text-align: left;
    padding: 1rem;
}
.itemImg{
    position: absolute;
    right: -2rem;
    top: -3rem;
}
.e1{
    position: absolute;
    z-index: 1;
    top: 5%;
    width: 8rem
}
.secondTitle{
    margin-left: 6rem;
}
li{
    font-size: 1.2rem;
}
.third{
    padding: 7rem;
}
footer{
    background-color: gray;
    padding: 2rem 4rem;
    width: 100%;
    margin: 0px;
}

#lady{
    width: 100%;
}
.topic{
    font-size: 1.5rem;
}
.content{
    font-size: 1rem;
}
.trick{
    text-align: left;
}
.third{
    background-color: #fde6e2;
    padding: 5rem;
}
.fItem{
    color: white;
}
.footTopic{
    font-weight: bold;
}
@media (min-width:769px){
    nav a{
        font-size: 1.5rem;
    }
    .home-page{
        margin: 7rem 5rem 0rem;
        padding: auto 2rem;
    }
}
@media (max-width:769px){
    nav a{
        font-size: 2rem;
    }
    .home-page{
        margin: 8rem 5rem 0rem;
        padding: auto 2rem;
    }
    .card h1{
        font-size: 2rem;
    }
    .card h3{
        font-size: 1.5rem;
    }
    .card li{
        font-size: 1rem;
    }
}
h2{
    line-height: 0.5;
}
hr{
    margin-left: 1rem;
    width: 20%;
    border: solid rgb(255, 0, 0);
    border-radius: 3px;
}